@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
  --color-principal: #ff8093;
  --color-oscuro-hover: #e66b7c;
  --50: #fff1f2;
  --100: #ffe3e5;
  --200: #ffccd2;
  --300: #ffa1ad;
  --500: #f93a5c;
  --600: #e71746;
  --700: #c30d3a;
  --800: #a30e38;
  --900: #8b1037;
  --950: #4e0318;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
p {
  font: var(--p);
}
.p2 {
  font: var(--p2);
}
.p3 {
  font: var(--p3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*  {
  outline: 1px solid red; /* Esto pone un borde rojo alrededor de todos los elementos */

header {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  transition: 0.5s ease;
}

header .brand {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}

header .brand i {
  color: #fff;
  margin-right: 10px;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  text-transform: uppercase;
}

header .navigation .navigation-items a:hover {
  color: var(--color-principal);
}

header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: var(--color-principal);
  width: 0;
  height: 3px;
  bottom: -8px;
  left: 0;
  transition: 0.5s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  padding: 50px 200px;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.home .media-icons a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  transition: 0.5s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
  transition: 0.3s;
  color: var(--color-principal);
}

@media screen and (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: var(--color-principal);
    height: 4px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(/assets/menu-icon.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    filter: invert(100%);
  }

  .menu-btn.active {
    z-index: 999;
    background: url(/assets/close-icon.svg) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3 ease;
  }
}

/* tamaño para celulares */
@media (max-width: 768px) {
  header .brand {
    font-size: 1em;
  }
  .home .content h1 {
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .home .content h1 span {
    font-weight: 300;
  }

  .home .content p {
    margin-bottom: 45px;
  }
  /* boton de pagina home */
  .home .content a {
    padding: 12px 25px;
  }
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  text-align: left;
  background-color: #f3e7dc;
  color: #fff;
  overflow: hidden;
}

/* Background Image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/corporal01.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  z-index: 1;
}

.home .content {
  position: relative;
  z-index: 2;
  max-width: 50%;
  padding: 50px;
}

.home .content h1 {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffefe0;
}

.home .content h1 span {
  color: #ff8093;
}

.home .content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #e8d8c8;
}

.home .content a {
  display: inline-block;
  padding: 15px 40px;
  background-color: #ff8093;
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home .content a:hover {
  background-color: #ff5670;
}

.home .media-icons {
  position: absolute;
  bottom: 300px;
  right: 30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.home .media-icons a {
  color: #fff;
  font-size: 2.2em;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.home .media-icons a:hover {
  transform: scale(1.3);
  color: #ff8093;
}

/* Responsive Styling for Mobile Devices */
@media (max-width: 768px) {
  /* Ajustes generales */
  .home {
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .home .content {
    max-width: 90%;
    padding: 0px;
  }

  /* Ajuste de fuentes */
  .home .content h1 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  .home .content p {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .home .content a {
    padding: 12px 30px;
    font-size: 1em;
  }

  .home .media-icons {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .home .media-icons a {
    font-size: 1.8em;
  }
}

@media (max-width: 480px) {
  .home .content h1 {
    font-size: 1.8em;
  }

  .home .content p {
    font-size: 0.9em;
  }

  .home .content a {
    padding: 10px 25px;
  }

  .home .media-icons a {
    font-size: 1.5em;
  }
}

/* --------------------- SECCION BENEFICIOS ---------------------- */

#benefits {
  padding: 50px 0;
  background-color: #f8f8f8;
}

#benefits h2 {
  text-align: center;
  color: var(--color-principal);
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.polite-card {
  margin-top: 20px;
  max-width: min(90vw, 400px);
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px; /* Esquinas redondeadas */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.polite-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.css-card {
  padding: 20px;
}

.css-card h3 {
  color: var(--color-principal);
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 400;
}

.css-card p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
}

.polite-card img {
  border-radius: 12px 12px 0 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  #benefits {
    padding: 30px 10px;
  }

  #benefits h2 {
    font-size: 2rem;
    margin: 30px 0;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .polite-card {
    max-width: 100%;
    margin: 20px 0;
  }

  .polite-card img {
    width: 100%;
    height: auto;
  }

  .css-card {
    padding: 15px;
  }

  .css-card h3 {
    font-size: 1.3rem;
  }

  .css-card p {
    font-size: 0.9rem;
  }
}

/* ---------------------------- SECCION SOBRE MI -------------------------------- */

.about-me {
  padding: 70px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-me-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  text-align: left;
}

.about-me-content img {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
}

.about-me-text {
  max-width: 600px;
}

.about-me-text h2 {
  font-size: 2rem;
  color: var(--color-principal);
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.about-me-text p {
  font-size: 1.2em;
  line-height: 1.8;
  color: var(--text-color);
}

.about-me-text p span {
  color: var(--color-secundario);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 40px 10px;
  }

  .about-me-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .about-me-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .about-me-text p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .about-me-content img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

/* -------------------------- SECCION TRATAMIENTOS -----------------------------  */

.treatments {
  padding: 60px 0;
  background-color: #f8f8f8;
}

.treatments-header {
  text-align: center;
  margin-bottom: 50px;
}

.treatments-header h2 {
  font-size: 2.8em;
  color: var(--color-principal);
  margin-bottom: 15px;
  font-weight: 400;
}

.treatments-header p {
  font-size: 1.3em;
  color: var(--color-texto-secundario);
  margin-bottom: 40px;
}

.treatment-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.treatment-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(10%);
}

.card:hover img {
  filter: none;
}

.card-content {
  padding: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.card-content h3 {
  font-size: 2em;
  color: var(--color-principal);
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1.1em;
  color: #444;
  margin-bottom: 25px;
}

.read-more {
  background-color: var(--color-principal);
  color: #fff;
  padding: 12px 25px;
  border-radius: 6px;
  text-transform: capitalize;
  transition: 0.3s;
  align-self: flex-start;
  text-decoration: none;
  font-weight: 600;
}

.read-more:hover {
  background-color: var(--color-oscuro-hover);
}

.card:hover {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .treatments {
    padding: 40px 0;
  }

  .treatments-header h2 {
    font-size: 2.2em;
  }

  .treatments-header p {
    font-size: 1.1em;
    margin-bottom: 30px;
  }

  .treatment-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .treatment-card {
    flex: 1 1 100%;
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .treatment-card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 20px;
    text-align: center;
  }

  .card-content h3 {
    font-size: 1.8em;
  }

  .card-content p {
    font-size: 1em;
    line-height: 1.6;
  }

  .read-more {
    font-size: 1.1em;
    padding: 12px 20px;
    margin: 0 auto; /* Centra el botón */
    display: block;
    width: max-content;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .read-more:hover {
    background-color: var(--color-oscuro-hover);
  }
}

/* ----------------------------------------------- */

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.explore__nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.explore__nav span {
  padding: 0 6px;
  font-size: 1.5rem;
  color: var(--white);
  border: 2px solid var(--color-principal);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.explore__nav span:hover {
  color: var(--secondary-color);
  border-color: var(--color-oscuro-hover);
}

.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.explore__card {
  padding: 1rem;
  background-color: var(--600);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--color-principal);
  border-color: var(--color-oscuro-hover);
}

.explore__card span {
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: var(--50);
  background-color: var(--color-principal);
  border-radius: 5px;
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.explore__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.explore__card a {
  color: var(--white);
  transition: 0.3s;
}

.explore__card a:hover {
  color: var(--secondary-color);
}

@media (width < 600px) {
  .explore__header {
    flex-direction: column;
  }

  .explore__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width < 900px) {
  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* --------------------- PREGUNTAS FRECUENTES ---------------------- */

.faq {
  background-color: #f9f9f9;
  padding: 50px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.faq-header {
  text-align: center;
  margin-bottom: 30px;
}

.faq-title-header {
  font-size: 2.5em;
  color: var(--color-principal);
  text-transform: uppercase;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

details {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ff8093;
  overflow: hidden;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

details:hover {
  border-color: #ff5773;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem;
  user-select: none;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.faq-title {
  color: #1c2035;
  font-weight: 600;
  flex-grow: 1;
}

.expand-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

/* details[open] .expand-icon {
  transform: rotate(45deg);
} */

.faq-content {
  padding: 1rem;
  color: #303651;
  font-weight: 300;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .faq-container {
    gap: 1rem;
  }

  .faq-title-header {
    font-size: 2em;
  }

  summary {
    padding: 0.8rem;
  }

  .faq-content {
    padding: 0.8rem;
  }
}

/*-------------------------- PROMOCIONES ------------------------ */

.promociones {
  background-color: #f8f8f8;
  padding: 50px 20px;
}

.promociones-header {
  text-align: center;
  margin-bottom: 40px;
}

.promociones-header h1 {
  font-size: 2.5em;
  color: var(--color-principal);
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: capitalize;
}

.promociones-header .subtitulo {
  font-size: 1.2em;
  color: var(--color-texto-secundario);
  margin-bottom: 20px;
}

.promocion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.promocion.reverse {
  flex-direction: row-reverse;
}

.imagen-promocion {
  flex: 1;
  max-width: 50%;
  margin: 0 20px; /* Márgenes igualados para mantener el espaciado */
}

.imagen-promocion img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.texto-promocion {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.texto-promocion h2 {
  font-size: 2em;
  color: var(--color-principal);
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 500;
}

.texto-promocion p {
  font-size: 1.2em;
  color: var(--color-texto-secundario);
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .promociones {
    padding: 20px 10px; 
  }

  .promociones-header h1 {
    font-size: 2em; 
  }

  .promociones-header .subtitulo {
    font-size: 1em; 
  }

  .promocion {
    flex-direction: column; 
    margin-bottom: 20px; 
    padding: 15px;
  }

  .promocion.reverse {
    flex-direction: column; 
  }

  .imagen-promocion {
    max-width: 100%; 
    margin: 0 0 15px 0; 
  }

  .imagen-promocion img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
  }

  .texto-promocion {
    max-width: 100%; 
    text-align: center; 
  }

  .texto-promocion h2 {
    font-size: 1.5em; 
    margin-bottom: 10px;
  }

  .texto-promocion p {
    font-size: 1em; 
    line-height: 1.4;
  }
}

/* FAQ ----------------------------------------------------------- */
.collapsible {
  cursor: pointer;
  padding: 36px 20px;
  width: 100%;
  border-left: 0px solid var(--color-principal);
  border-right: 0px solid var(--color-principal);
  border-top: 0px solid var(--color-principal);
  border-bottom: 2px solid var(--color-principal);
  text-align: left;
  font: var(--p);
  font-weight: bold;
  background-color: #ffff;
  color: #000 !important;
  text-decoration: none !important;
}

.faq-title-prueba {
  color: var(--color-principal);
  text-align: center;
  margin-bottom: 25px;
}

.collapsible:before {
  content: "\002B";
  color: var(--text-dark);
  font-weight: bold;
  float: right;
  margin-left: 8px;
}

.collapsible.active:before {
  content: "\2212";
}

.faqcontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#faqs a {
  color: #000 !important;
  text-decoration: none !important;
}

/*-------------------------- CONTACTO ------------------------*/

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  margin: 50px auto 100px auto;
  max-width: 1200px;
}

.contact-info {
  flex: 1;
  max-width: 500px;
}

.contact-info h2 {
  font-size: 44px;
  margin-bottom: 20px;
  color: var(--color-principal);
}

.contact-info p {
  margin-bottom: 1em;
  font-size: 1.3em;
}

.social-media {
  display: flex;
  margin-top: 40px;
}

.social-media a {
  margin-right: 20px;
  font-size: 30px;
  color: var(--color-principal);
}

.map-container {
  flex: 1;
  max-width: 600px; /* Limita el ancho máximo del mapa */
}

.map-container iframe {
  width: 100%;
  height: 450px; /* Aumenta la altura del mapa en pantallas grandes */
  border: 0;
}

/* Media Queries ------------- */

@media only screen and (max-width: 1200px) {
  .contact-section {
    margin: 50px auto;
    padding: 40px;
  }

  .contact-info {
    max-width: 100%;
  }

  .map-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
  }

  .contact-info,
  .map-container {
    flex: 100%;
    margin-bottom: 20px;
  }

  .contact-info h2 {
    font-size: 38px;
  }

  .map-container iframe {
    height: 300px;
  }

  .social-media {
    justify-content: flex-start;
  }
}

/*------------------------------- TESTIMONIOS ----------------------------*/
.testimonial-section {
  background-color: var(--200);
  padding: 80px 0;
  text-align: center;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.testimonial-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-title {
  font-size: 40px;
  text-transform: uppercase;
  color: #1d1714;
}
.testimonial-slide.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.testimonial-text {
  color: #1d1714;
  font-style: italic;
  line-height: 1.4;
  font-size: 20px;
}

.testimonial-author {
  font-style: italic;
  margin-top: 10px;
  color: #1d1714;
  font-weight: 600;
  text-transform: uppercase;
}

.prev-btn,
.next-btn {
  background-color: #1d1714;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
}

.prev-btn {
  left: 30px;
}

.next-btn {
  right: 30px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .testimonial-slide {
    opacity: 1;
    width: 100%;
    padding: 80px;
    text-align: center;
    display: none;
  }

  .testimonial-slide.active {
    display: flex; /* Mostrar el testimonio activo */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }

  .testimonial-text {
    font-size: 16px;
    text-align: center;
  }

  .testimonial-author {
    font-size: 14px;
    text-align: center;
  }

  .prev-btn,
  .next-btn {
    display: block;
    margin-top: 20px;
  }

  .prev-btn {
    left: 10px;
  }

  .next-btn {
    right: 10px;
  }
}

/* Estilos para dispositivos iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonial-container {
    max-width: 90%;
  }

  .testimonial-title {
    font-size: 36px;
  }

  .testimonial-slide {
    width: 80%;
    margin: 0 auto;
  }

  .testimonial-text {
    font-size: 18px;
  }

  .testimonial-author {
    font-size: 16px;
  }
}

/*-------------------------- FOOTER ------------------------*/

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

footer {
  background-color: #000000;
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo a {
  font-size: 1.75rem;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__col p {
  max-width: 300px;
  margin-bottom: 2rem;
  color: #737373;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.5rem;
  color: #000000;
  background-color: var(--color-principal);
  border-radius: 10px;
  text-decoration: none;
}

.footer__socials {
  font-size: 0px;
}

.footer__socials a:hover {
  color: #ffffff;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: #737373;
  text-decoration: none;
}

.footer__links a:hover {
  color: #ffffff;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: #737373;
  text-align: center;
}

@media (width > 768px) {
  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-column: 1/3;
  }
}

/* -------------------- botones flotantes ----------------------*/

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0b9b42;
  transition: 0.3s ease-in-out;
}

.btn-scroll-top {
  position: fixed;
  bottom: 100px;
  right: 42px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--color-principal);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  color: #fff;
}

.btn-scroll-top:hover {
  background-color: var(--color-oscuro-hover);
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.btn-scroll-top i {
  font-size: 16px;
  margin-top: 7px;
}

@media (max-width: 768px) {
  .btn-wsp {
    right: 10px;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .btn-scroll-top {
    width: 30px;
    height: 30px;
    bottom: 85px;
    right: 22px;
  }

  .btn-scroll-top i {
    font-size: 16px;
  }
}

/* ---------------------- PLANES ---------------------- */

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-principal);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--colorbody);
}

a {
  text-decoration: none;
}

.price__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price__card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--500);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.price__card:hover {
  background-color: var(--700);
  border-color: #fff; /* color de los bordes */
}

.price__card__content {
  flex: 1;
  margin-bottom: 2rem;
}

.price__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.price__card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid #fff;
}

.price__card p {
  margin-bottom: 0.75rem;
  color: #fff;
}

.price__card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
}

.price__btn {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.price__btn:hover {
  color: var(--500);
  background-color: #fff;
}

@media (width < 600px) {
  .price__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Estilos para ScrollBar ----------------------------------------------------- */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

/* Estilo del "track", el fondo de la scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--white); /* Color del fondo */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo del "thumb", la parte que se desplaza */
::-webkit-scrollbar-thumb {
  background-color: var(--color-principal); /* Color de la scrollbar */
  border-radius: 10px; /* Bordes redondeados */
  border: 3px solid var(--color-principal); /* Añade un borde para un efecto más limpio */
}

/* Hover del thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --color-oscuro-hover
  ); /* Cambia de color al hacer hover */
}
