@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
  --color-principal: #ff8093;
  --color-oscuro-hover: #e66b7c;
  --50: #fff1f2;
  --100: #ffe3e5;
  --200: #ffccd2;
  --300: #ffa1ad;
  --500: #f93a5c;
  --600: #e71746;
  --700: #c30d3a;
  --800: #a30e38;
  --900: #8b1037;
  --950: #4e0318;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

header .brand i {
  color: #fff;
  margin-right: 10px;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  text-transform: uppercase;
}

header .navigation .navigation-items a:hover {
  color: var(--color-principal);
}

header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: var(--color-principal);
  width: 0;
  height: 3px;
  bottom: -8px;
  left: 0;
  transition: 0.5s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  padding: 50px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #e2bf99;
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 3.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-weight: 300;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #ff8093;
  padding: 15px 35px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.home .content a:hover {
  background-color: var(--color-oscuro-hover);
  transition: 0.3s ease;
  color: #fff;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.home .media-icons a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  transition: 0.5s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
  transition: 0.3s;
  color: var(--color-principal);
}

/* acomodo el video para que se ponga de fondo y detras de todas las etiquetas */
.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

/* los puntos de las imagenes de home */
.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: var(--color-principal);
}

/* separo los puntos de las img */
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

/* efecto al pasar al sig video */
.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media screen and (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(/assets/menu-icon.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    filter: invert(100%);
  }

  .menu-btn.active {
    z-index: 999;
    background: url(/assets/close-icon.svg) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3 ease;
  }
}

/* tamaño para celulares */
@media (max-width: 768px) {
  header .brand {
    font-size: 1rem;
  }
  .home .content h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .home .content h1 span {
    font-weight: 700;
  }

  .home .content p {
    margin-bottom: 45px;
  }
  /* boton de pagina home */
  .home .content a {
    padding: 12px 25px;
  }
}

/* --------------------- SECCION BENEFICIOS ---------------------- */

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.benefit {
  width: calc(33.33% - 40px);
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit img {
  width: 100%;
  max-width: 400px;
  border-radius: 5%;
  margin-bottom: 25px;
  transition: opacity 0.3s ease;
}

.benefit h2 {
  font-size: 1.5em;
  color: #ff8093;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.benefit p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cta {
  background-color: var(--color-principal);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.cta:hover {
  background-color: var(--color-oscuro-hover);
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .benefit {
    width: calc(100% - 20px);
    margin: 10px;
    margin-bottom: 40px;
  }

  .benefit img {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

/* ---------------------------- SECCION SOBRE MI -------------------------------- */

.about-me {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-me-content {
  text-align: center;
}

.about-me-content h2 {
  font-size: 2.2em;
  color: var(--color-principal);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about-me-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
}

.about-me-info img {
  width: 450px;
  height: 300px;
  border-radius: 5%;
  margin-left: 50px;
  order: 2;
}

.about-me-info p span {
  color: var(--color-principal);
  font-weight: 500;
}

.about-me-info p {
  font-size: 1.2em;
  line-height: 1.8;
  max-width: 600px;
  margin-bottom: 20px;
  order: 1;
}

/* dispositivos móviles */
@media screen and (max-width: 768px) {
  .about-me-info {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-me-info img {
    width: 100%;
    height: auto;
    margin: 0 auto 20px;
    order: 2;
  }

  .about-me-info p {
    font-size: 1em;
    max-width: 95%;
    order: 1;
  }
}

/* -------------------------- SECCION TRATAMIENTOS -----------------------------  */

.treatments {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 2.2em;
  color: var(--color-principal);
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.treatment-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 20px);
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  font-size: 1.5em;
  color: var(--color-principal);
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.card-content p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 25px;
  text-align: left;
  color: #333;
}

.read-more {
  background-color: var(--color-principal);
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  margin: 0 auto;
  display: inline-block;
}

.read-more:hover {
  background-color: var(--color-oscuro-hover);
  color: #fff;
}

/* -------------------- dispositivos móviles -------------------- */
@media only screen and (max-width: 768px) {
  .treatments {
    margin-top: 10px;
  }

  .treatment-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .card-content {
    height: auto;
  }

  .card img {
    border-radius: 8px 8px 0 0;
  }

  .card-content p {
    text-align: center;
  }
}

/* --------------------- PREGUNTAS FRECUENTES ---------------------- */

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5em;
}

.faq-header {
  text-align: center;
}

details {
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  background: #f6faff;
  border-radius: 0.5rem;
  position: relative;
  max-width: 600px;
  border: 1px solid var(--color-principal);
  transition: border-color 0.3s ease-in-out;
}

details:hover {
  border-color: var(--color-oscuro-hover);
}

summary {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  list-style: none;
  padding: 1rem;
  align-items: center;
}

summary:hover .faq-title {
  opacity: 1;
}

summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: none;
}

summary:hover .expand-icon {
  opacity: 1;
}

.faq-title {
  color: #1c2035;
  width: 95%;
  opacity: 0.65;
  transition: all 250ms ease-in-out;
}

.faq-content {
  color: #303651;
  padding: 0.5rem 1rem 1rem 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.expand-icon {
  opacity: 0.65;
}

.expand-icon {
  pointer-events: none;
  position: absolute;
  right: 1rem;
  transition: all 150ms ease-out;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .faq-container {
    margin-top: 0.5em;
    padding: 0 1em;
  }

  .faq {
    margin-top: -3em;
  }

  .faq-header h2 {
    margin-bottom: 1em;
  }

  details {
    max-width: none;
  }

  .faq-content {
    padding: 0.5rem;
  }

  .expand-icon {
    right: 0.5rem;
  }
}

/*-------------------------- PROMOCIONES ------------------------ */

.promotions {
  background-color: var(--100);
}

.promotion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.promotion-item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.promotion-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.promotion-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.promotion-title {
  font-size: 24px;
  color: var(--color-principal);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.promotion-description {
  color: #666;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--color-principal);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-self: center;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--color-oscuro-hover);
}

/*-------------------------- CONTACTO ------------------------*/
.contact {
  padding: 12px 0;
  margin-bottom: 60px;
}

.contact-container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  flex-basis: 60%;
}

.info-item {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.info-item i {
  margin-right: 25px;
  font-size: 30px;
  color: var(--color-principal);
}

.info-item p {
  margin: 0;
}

.social-media {
  display: flex;
}

.social-media a {
  color: var(--color-principal);
  margin-right: 15px;
  font-size: 24px;
}

.map {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
}

.map iframe {
  max-width: 100%;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .contact-info {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .map {
    flex-basis: 100%;
  }
}

/*------------------- TESTIMONIOS -------------------*/
.testimonials-container {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}

.testimonials {
  padding: 20px;
}

.testimonial {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  height: 190px;
}

.quote {
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
}

.author {
  margin-bottom: 5px;
  font-weight: 700;
  text-align: center;
}

.rating {
  color: gold;
  text-align: center;
}

.testimonial-title {
  text-align: center;
  margin-top: 30px;
}

/* Estilos para el Swiper */
.testimonials .swiper-pagination {
  position: relative;
  margin-top: 20px;
  bottom: auto;
  text-align: center;
}

.testimonials .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: var(--color-principal);
  opacity: 0.5;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.testimonials .swiper-pagination-bullet-active {
  background-color: var(--color-principal);
  opacity: 1;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .testimonial {
    padding: 15px;
    overflow: scroll;
  }

  .quote {
    font-size: 14px;
    align-items: center;
  }

  .author {
    font-size: 16px;
  }

  .rating {
    font-size: 14px;
  }
  .testimonial-title {
    text-align: center;
    margin-top: 1px;
    font-size: 12px;
  }
}

/*-------------------------- FOOTER ------------------------*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  margin-top: auto;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 30%;
}

.footer-column h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-column p {
  font-size: 1rem;
  font-weight: 200;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
}

.footer-column ul li a:hover {
  color: var(--color-principal);
  transition: 0.3s ease;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  color: #fff;
  font-size: 1.5rem;
}

.copyright {
  margin-top: 50px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    flex-basis: auto;
    margin-bottom: 30px;
  }

  .footer-column h3 {
    font-size: 1.3rem;
  }
  .copyright {
    margin-top: 1px;
    padding: 20px;
  }
}

/* -------------------- botones flotantes ----------------------*/

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0aa345;
  transition: 0.3s ease-in-out;
}

.btn-scroll-top {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 90px;
  right: 30px;
  background-color: var(--color-principal);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  cursor: pointer;
}

.btn-scroll-top:hover {
  background-color: var(--color-oscuro-hover);
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .btn-wsp {
    right: 10px;
    bottom: 20px;
  }

  .btn-scroll-top {
    right: 10px;
    bottom: 80px;
  }
}
