@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
  --color-principal: #ff8093;
  --color-oscuro-hover: #e66b7c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  text-transform: uppercase;
}

header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: var(--white);
  width: 0;
  height: 3px;
  bottom: -8px;
  left: 0;
  transition: 0.5s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  padding: 100px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #e2bf99;
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #ff8093;
  padding: 15px 35px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}

.home .content a:hover {
  background-color: #f2677c;
  transition: 0.3s ease;
  color: #fff;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.home .media-icons a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  transition: 0.5s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

/* acomodo el video para que se ponga de fondo y detras de todas las etiquetas */
.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

/* los puntos de las imagenes de home */
.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: var(--color-principal);
}

/* separo los puntos de las img */
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

/* que se agranden al pasar por encima */
.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

/* efecto al pasar al sig video */
.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media screen and (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(/assets/menu-icon.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    filter: invert(100%);
  }

  .menu-btn.active {
    z-index: 999;
    background: url(/assets/close-icon.svg) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3 ease;
  }
}

/* tama침o para celulares */
@media (max-width: 768px) {
  header .brand {
    font-size: 1rem;
  }
  .home .content h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .home .content h1 span {
    font-weight: 700;
  }

  .home .content p {
    margin-bottom: 45px;
  }
}

/* --------------------- SECCION BENEFICIOS ---------------------- */

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.benefit {
  width: calc(33.33% - 40px);
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit img {
  width: 100%;
  max-width: 400px;
  border-radius: 5%;
  margin-bottom: 25px;
  transition: opacity 0.3s ease;
}

.benefit h2 {
  font-size: 1.5em;
  color: #ff8093;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.benefit p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.cta {
  background-color: var(--color-principal);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.cta:hover {
  background-color: var(--color-oscuro-hover);
}

/* Media query para dispositivos m칩viles */
@media (max-width: 768px) {
  .benefit {
    width: calc(100% - 20px);
    margin: 10px;
    margin-bottom: 40px;
  }

  .benefit img {
    max-width: 100%;
    margin-bottom: 15px;
  }
}

/* ---------------------------- SECCION SOBRE MI-------------------------------- */

.about-me {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-me-content {
  text-align: center;
}

.about-me-content h2 {
  font-size: 2.2em;
  color: var(--color-principal);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about-me-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
}

.about-me-info img {
  width: 400px;
  height: 300px;
  border-radius: 5%;
  margin-right: 50px;
}

.about-me-info p {
  font-size: 1.2em;
  line-height: 1.8;
  max-width: 600px;
  margin-bottom: 20px;
}

.about-me-info p span {
  color: var(--color-principal);
  font-weight: 600;
}
/* -------------------------- para celulares -------------------------- */
@media screen and (max-width: 768px) {
  .about-me {
    padding: 5px 0;
  }
  .about-me-info {
    flex-direction: column;
    text-align: center;
  }

  .about-me-info img {
    width: 100%;
    height: auto;
    margin: 0 auto 20px;
  }

  .about-me-info p {
    font-size: 1em;
    max-width: 95%;
  }
}

/* -------------------------- SECCION TRATAMIENTOS -----------------------------  */

.treatments {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  font-size: 2.2em;
  color: var(--color-principal);
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.treatment-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(50% - 20px);
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  font-size: 1.5em;
  color: var(--color-principal);
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.card-content p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 25px;
  text-align: left;
}

.read-more {
  background-color: var(--color-principal);
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  margin: 0 auto;
  display: inline-block;
}

.read-more:hover {
  background-color: var(--color-oscuro-hover);
  color: #fff;
}

/* -------------------- dispositivos m칩viles -------------------- */
@media only screen and (max-width: 768px) {
  .treatments {
    margin-top: 10px;
  }

  .treatment-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .card-content {
    height: auto;
  }

  .card img {
    border-radius: 8px 8px 0 0;
  }

  .card-content p {
    text-align: center;
  }
}

/* --------------------- TESTIMONIOS ---------------------- */

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.testimonials {
  padding: 50px 0;
}

.testimonials-item {
  background-color: var(--color-principal);
  padding: 30px;
  border-radius: 30px;
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testimonials-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
  height: 80px;
}

.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: #fff;
}

.testimonials-item p {
  margin-top: 20px;
  color: #fff;
}

.testimonials-item .rating {
  margin-top: 20px;
  font-size: 14px;
  color: gold;
}

.testimonials .swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: var(--color-oscuro-hover);
}

@media (max-width: 768px) {
  .testimonials {
    padding: 50px 0;
  }
}

/* --------------------- PREGUNTAS FRECUENTES ---------------------- */

.faq {
  margin-top: -4em;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5em;
}

.faq-header {
  text-align: center;
}

details {
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  background: #f6faff;
  border-radius: 0.5rem;
  position: relative;
  max-width: 600px;
  border: 1px solid var(--color-principal);
  transition: border-color 0.3s ease-in-out;
}

details:hover {
  border-color: var(--color-oscuro-hover);
}

summary {
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  list-style: none;
  padding: 1rem;
  align-items: center;
}

summary:hover .faq-title {
  opacity: 1;
}

summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: none;
}

summary:hover .expand-icon {
  opacity: 1;
}

.faq-title {
  color: #1c2035;
  width: 95%;
  opacity: 0.65;
  transition: all 250ms ease-in-out;
}

.faq-content {
  color: #303651;
  padding: 0.5rem 1rem 1rem 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.expand-icon {
  opacity: 0.65;
}

.expand-icon {
  pointer-events: none;
  position: absolute;
  right: 1rem;
  transition: all 150ms ease-out;
}

/* Estilos para dispositivos m칩viles */
@media screen and (max-width: 767px) {
  .faq-container {
    margin-top: 0.5em;
    padding: 0 1em;
  }

  .faq {
    margin-top: -7em;
  }

  .faq-header h2 {
    margin-bottom: 1em;
  }

  details {
    max-width: none;
  }

  .faq-content {
    padding: 0.5rem;
  }

  .expand-icon {
    right: 0.5rem;
  }
}
