@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
  --color-principal: #ff8093;
  --color-oscuro-hover: #e66b7c;
  --50: #fff1f2;
  --100: #ffe3e5;
  --200: #ffccd2;
  --300: #ffa1ad;
  --500: #f93a5c;
  --600: #e71746;
  --700: #c30d3a;
  --800: #a30e38;
  --900: #8b1037;
  --950: #4e0318;
  --ff: "Montserrat", sans-serif;
  --colorp: #f9f9f9;
  --colorp2: #fff;
  --colora: #ffe537;
  --colora2: #537fe7;
  --colorbody: #1e1e1e;
  --colors: #333;
  --h1: bold 54px/60px var(--ff);
  --h2: bold 36px/48px var(--ff);
  --h3: bold 24px/36px var(--ff);
  --links: 18px/18px var(--ff);
  --p: 18px/30px var(--ff);
  --p1: 24px/30px var(--ff);
  --p2: 36px/48px var(--ff);
  --subtext: 12px/20px var(--ff);
  --transition: 0.3s ease-in-out;
  --shadow: #00000030 0px 0px 10px 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1 {
  font: var(--h1);
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
p {
  font: var(--p);
}
.p2 {
  font: var(--p2);
}
.p3 {
  font: var(--p3);
}

header {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  transition: 0.5s ease;
}

header .brand {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

header .brand i {
  color: #fff;
  margin-right: 10px;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  text-transform: uppercase;
}

header .navigation .navigation-items a:hover {
  color: var(--color-principal);
}

header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: var(--color-principal);
  width: 0;
  height: 3px;
  bottom: -8px;
  left: 0;
  transition: 0.5s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  padding: 50px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #e2bf99;
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 3.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-weight: 300;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #ff8093;
  padding: 15px 35px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.home .content a:hover {
  background-color: var(--color-oscuro-hover);
  transition: 0.3s ease;
  color: #fff;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.home .media-icons a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  transition: 0.5s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
  transition: 0.3s;
  color: var(--color-principal);
}

/* acomodo el video para que se ponga de fondo y detras de todas las etiquetas */
.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

/* los puntos de las imagenes de home */
.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: var(--color-principal);
}

/* separo los puntos de las img */
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

/* efecto al pasar al sig video */
.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media screen and (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: var(--color-principal);
    height: 4px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(/assets/menu-icon.svg) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    filter: invert(100%);
  }

  .menu-btn.active {
    z-index: 999;
    background: url(/assets/close-icon.svg) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3 ease;
  }
}

/* tamaño para celulares */
@media (max-width: 768px) {
  header .brand {
    font-size: 1rem;
  }
  .home .content h1 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .home .content h1 span {
    font-weight: 300;
  }

  .home .content p {
    margin-bottom: 45px;
  }
  /* boton de pagina home */
  .home .content a {
    padding: 12px 25px;
  }
}

/* --------------------- SECCION BENEFICIOS ---------------------- */

#benefits {
  padding: 50px 0;
  background-color: #ffffff;
}

#benefits h2 {
  text-align: center;
  color: var(--color-principal);
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.polite-card {
  margin-top: 20px;
  max-width: min(90vw, 400px);
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.polite-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.css-card {
  padding: 20px;
}

.css-card h3 {
  color: var(--color-principal);
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.css-card p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
}

.polite-card img {
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* ---------------------------- SECCION SOBRE MI -------------------------------- */

.about-me {
  padding: 50px 0;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-me-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  text-align: left;
}

.about-me-content img {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  transition: transform 0.3s ease;
}

.about-me-text {
  max-width: 600px;
}

.about-me-text h2 {
  font-size: 2rem;
  color: var(--color-principal);
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.about-me-text p {
  font-size: 1.2em;
  line-height: 1.6;
  color: var(--text-color);
}

.about-me-text p span {
  color: var(--color-principal);
  font-weight: 700;
}

/* Dispositivos móviles */
@media screen and (max-width: 768px) {
  .about-me-content {
    flex-direction: column;
    text-align: center;
  }

  .about-me-content img {
    order: 2;
    margin-top: 20px;
  }

  .about-me-text {
    order: 1;
  }

  .about-me-text h2 {
    font-size: 1.5rem;
  }

  .about-me-text p {
    font-size: 1em;
  }
}

/* -------------------------- SECCION TRATAMIENTOS -----------------------------  */

.treatments {
  padding: 50px 0;
  background-color: #f8f8f8; /* Color neutro para fondo */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.treatments-header {
  text-align: center;
  margin-bottom: 40px;
}

.treatments-header h2 {
  font-size: 2.5em;
  color: var(--color-principal);
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.treatments-header p {
  font-size: 1.2em;
  color: var(--color-texto-secundario);
}

.treatment-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
  overflow: hidden;
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-content h3 {
  font-size: 1.8em;
  color: var(--color-principal);
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.card-content p {
  font-size: 1em;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.read-more {
  background-color: var(--color-principal);
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
  align-self: flex-start;
  margin-top: 8px;
  border: solid 2px transparent;
  text-align: center;
  font: var(--p);
}

.read-more:hover {
  background-color: var(--color-oscuro-hover);
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Dispositivos móviles */
@media only screen and (max-width: 768px) {
  .treatment-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .card img {
    border-radius: 10px 10px 0 0;
  }

  .card-content {
    padding: 15px;
  }

  .card-content h3 {
    font-size: 1.6em;
  }

  .card-content p {
    text-align: left;
  }

  .read-more {
    align-self: center;
  }
}

/* --------------------- PREGUNTAS FRECUENTES ---------------------- */

.faq {
  background-color: #f9f9f9;
  padding: 50px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.faq-header {
  text-align: center;
  margin-bottom: 30px;
}

.faq-title-header {
  font-size: 2.5em;
  color: var(--color-principal);
  text-transform: uppercase;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

details {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ff8093;
  overflow: hidden;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

details:hover {
  border-color: #ff5773;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem;
  user-select: none;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.faq-title {
  color: #1c2035;
  font-weight: 600;
  flex-grow: 1;
}

.expand-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

/* details[open] .expand-icon {
  transform: rotate(45deg);
} */

.faq-content {
  padding: 1rem;
  color: #303651;
  font-weight: 300;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .faq-container {
    gap: 1rem;
  }

  .faq-title-header {
    font-size: 2em;
  }

  summary {
    padding: 0.8rem;
  }

  .faq-content {
    padding: 0.8rem;
  }
}

/*-------------------------- PROMOCIONES ------------------------ */

.promotions {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.promotions-header {
  text-align: center;
  margin-bottom: 40px;
}

.section-title {
  font-size: 2.5em;
  color: var(--color-principal);
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.promotion-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.promotion-item {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promotion-image:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.promotion-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.promotion-image:hover .promotion-overlay {
  opacity: 1;
}

.promotion-title {
  font-size: 1.8em;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.promotion-description {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
}

.btn {
  background-color: var(--color-principal);
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;

  margin-top: 8px;
  border: solid 2px transparent;
  text-align: center;
  font: var(--p);
}

.btn:hover {
  background-color: var(--color-oscuro-hover);
}

/* Responsividad */
@media (max-width: 768px) {
  .promotion-grid {
    flex-direction: column;
  }

  .promotion-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .promotion-title {
    font-size: 1.5em;
  }

  .promotion-description {
    font-size: 0.9em;
  }
}

/* PRUEBA --------------------------------------------- */
.collapsible {
  cursor: pointer;
  padding: 36px 20px;
  width: 100%;
  border-left: 0px solid var(--color-principal);
  border-right: 0px solid var(--color-principal);
  border-top: 0px solid var(--color-principal);
  border-bottom: 2px solid var(--color-principal);
  text-align: left;
  font: var(--p);
  font-weight: bold;
  background-color: #ffff;
}

.faq-title-prueba {
  color: var(--color-principal);
  text-align: center;
  margin-bottom: 25px;
}

.collapsible:before {
  content: "\002B";
  color: var(--text-dark);
  font-weight: bold;
  float: right;
  margin-left: 8px;
}

.collapsible.active:before {
  content: "\2212";
}

.faqcontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*-------------------------- CONTACTO ------------------------*/

.contact {
  padding: 40px 0;
  background-color: #f9f9f9;
}

.contact-container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contact-info {
  flex-basis: calc(50% - 20px);
  margin-bottom: 30px;
}

.info-item {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.info-item i {
  margin-right: 15px;
  font-size: 20px;
  color: var(--color-principal);
}

.info-item p {
  margin: 0;
}

.info-item a {
  color: var(--color-principal);
  text-decoration: none;
}

.social-media {
  display: flex;
}

.social-media a {
  color: var(--color-principal);
  margin-right: 15px;
  font-size: 24px;
}

.map {
  flex-basis: calc(50% - 20px);
}

.map iframe {
  width: 100%;
  height: 400px;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .info-item {
    margin-bottom: 20px;
  }

  .info-item i {
    font-size: 20px;
  }

  .social-media a {
    font-size: 25px;
  }
}

/*------------------- TESTIMONIOS -------------------*/
.testimonials-container {
  background-color: #f8f9fa;
  padding: 50px 20px;
}

.testimonial-title {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial-title h2 {
  font-size: 2.5em;
  color: #ff8093;
  text-transform: uppercase;
}

.testimonials {
  display: flex;
  justify-content: center;
}

.swiper-container {
  width: 100%;
  max-width: 1200px;
  min-height: 300px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  width: 100%;
}

.testimonial {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 250px;
}

.testimonial:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.quote {
  font-style: italic;
  color: #555;
  text-align: center;
  margin-bottom: 15px;
}

.author {
  color: #222;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.rating {
  text-align: center;
  color: gold;
}

/* Estilos para el Swiper */
.testimonials .swiper-pagination {
  margin-top: 20px;
}

.testimonials .swiper-pagination-bullet {
  background-color: var(--color-principal);
  opacity: 0.5;
  margin: 0 5px;
}

.testimonials .swiper-pagination-bullet-active {
  opacity: 1;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .testimonials-container {
    padding: 20px 10px;
  }

  .testimonial-title {
    margin-bottom: 10px;
  }

  .testimonial-title h2 {
    font-size: 1.8em;
  }

  .testimonials {
    padding: 0;
  }

  .testimonial {
    padding: 15px;
    margin: 10px 0;
  }

  .quote {
    font-size: 0.9em;
  }

  .author {
    font-size: 0.9em;
  }
}

/*-------------------------- FOOTER ------------------------*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  margin-top: auto;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex-basis: 30%;
}

.footer-column h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-column p {
  font-size: 1rem;
  font-weight: 200;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
}

.footer-column ul li a:hover {
  color: var(--color-principal);
  transition: 0.3s ease;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  color: #fff;
  font-size: 1.5rem;
}

.copyright {
  margin-top: 50px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    flex-basis: auto;
    margin-bottom: 30px;
  }

  .footer-column h3 {
    font-size: 1.3rem;
  }
  .copyright {
    margin-top: 1px;
    padding: 20px;
  }
}

/* -------------------- botones flotantes ----------------------*/

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0b9b42;
  transition: 0.3s ease-in-out;
}

.btn-scroll-top {
  position: fixed;
  bottom: 100px;
  right: 42px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--color-principal);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  color: #fff;
}

.btn-scroll-top:hover {
  background-color: var(--color-oscuro-hover);
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.btn-scroll-top i {
  font-size: 16px;
  margin-top: 7px;
}

@media (max-width: 768px) {
  .btn-wsp {
    right: 10px;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .btn-scroll-top {
    width: 30px;
    height: 30px;
    bottom: 85px;
    right: 22px;
  }

  .btn-scroll-top i {
    font-size: 16px;
  }
}
